<!DOCTYPE html>
<html lang="en" dir="ltr">
<% if (home) {%>
  <%- include('../partials/head-home') %>
    <% } else { %>
      <%- include('../partials/head-logreg') %>
        <% } %>
          <% const userImage=userInfo.profileImage.replace(/\\/g, "/" ) %>

            <div class="header-hide-wrap">
              <%- include('../partials/header', {userInfo: userInfo}) %>
            </div>

            <body style="min-height: 100vh" name="<%= userInfo.username %>">
              <div class="notice-wrap"></div>

              <%- body %>
                <%- include('../partials/desk-footer') %>
                  <%- include('../partials/mobile-nav', {userInfo: userInfo, userImage: userImage}) %>
                    <script type="text/javascript" src="/js-prod/app/scripts.js"></script>
            </body>
</html>