<!DOCTYPE html>
<html lang="en" dir="ltr">

<% if (home) {%>
  <%- include('../partials/head-home') %>
<% } else { %>
  <%- include('../partials/head-logreg') %>
<% } %>

  <%- include('../partials/header', {userInfo: userInfo}) %>

<body style="min-height: 100vh;">
    <div class="notice-wrap"></div>

    <%- body %>

    <%- include('../partials/desk-footer') %>
    <%- include('../partials/footer', {userInfo: userInfo}) %>
  </body>
</html>
