<!DOCTYPE html>
<html lang="en" dir="ltr">

<% if (home) {%>
  <%- include('../partials/head-home') %>
<% } else { %>
  <%- include('../partials/head-logreg') %>
<% } %>

  <%- include('../partials/header', {userInfo: userInfo}) %>

<body>
    <div class="notice-wrap"></div>
    <section class="home-body">
        <%- body %>
    </section>

    <%- include('../partials/desk-footer') %>
    <%- include('../partials/footer', {userInfo: userInfo}) %>
</body>
</html>
