<!DOCTYPE html>
<html lang="en" dir="ltr">


<%- include('../partials/head-page') %>

<%- include('../partials/header', {userInfo: userInfo}) %>

<body class="page-body">
    <div class="notice-wrap"></div>
    <section class="page-sec">
        <div class="page-wrap">
            <%- body %>
        </div>
    </section>

    <%- include('../partials/desk-footer') %>
    <%- include('../partials/footer', {userInfo: userInfo}) %>
</body>
</html>
