<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-profile') %>

  <!-- <div class="prof-settings">
    <p>Followers: <%- followers %></p>
    <p>Following: <%- following %></p>

  </div> -->

  <body>
    <%- include('../partials/header', {userInfo: userInfo}) %>

      <div class="prof-padding">
        <section class="profile-row prof-sec">
          <div class="profile-row-info">
            <% const userImage = profileInfo.profileImage.length > 0 ? profileInfo.profileImage.replace(/\\/g, `/` ) : 'images/default-icon.png' %>
            <div class="profile-img" style="background-image: url('/<%= userImage %>')">
            </div>
            <div>
              <h1 class="profile-title">
                <%= profileInfo.username %>
              </h1>
              <h3 class="profile-charts-title">
                Charts: <span class="chart-amnt">
                  <%= profileInfo.musicCharts.length %>
                </span>
              </h3>
            </div>
          </div>

          <div>
            <%- body %>
          </div>
        </section>

        <section class="profile-box prof-sec">
          <h2>
            <%= profileInfo.username %>'s Charts
          </h2>
          <div class="profile-charts">
            <%- include('../profile-functions.ejs') %>
          </div>
        </section>
      </div>

      <%- include('../partials/desk-footer') %>
        <%- include('../partials/footer', {userInfo: userInfo}) %>

          <!--<h2>Favourite Artists</h2>
    <h2>Listen List</h2> -->

          <script src="/js-prod/profile/trashOrDisplay.js"></script>
          <script src="/js-prod/profile/profile.js"></script>
  </body>

</html>