
<%
// const chartBox = document.querySelector('.profile-charts');
// let profCharts;

const displayProfileCharts = async (myProfile, username, profileCharts) => {

    // //get the pathname and look for charts based on this username
    // const pathname = window.location.pathname.replace('/', '');
    // console.log(pathname)

    if(profileCharts.length){
        profileCharts.forEach((chart) => {
            const title = chart.title.replace(/_/g, ' ');
            const firstFour = [];
            const albums = JSON.parse(chart.chart);

            albums.forEach(album => {
                console.log(album)
                if (firstFour.length !== 4 && album !== null) {
                    firstFour.push(album.album_image)
                }
            })

            while (firstFour.length < 4) {
                firstFour.push('https://i.imgur.com/8w4GEqb.png');
            }

            console.log(firstFour);
            const exitOrNot = myProfile ? '<i class="fas fa-times prof-chart-del"></i>' : '';

            %>
            <div class="prof-chart"><a href="/<%=username%>/chart/<%=chart.title %>" name="<%= chart.title.replace(/ /g, "_") %>"><h3 class="prof-chart-title"><%= title %></h3><div class="prof-chart-wrapper"><div class="prof-chart-cover"></div><img src="<%= firstFour[0] %>"><img src="<%= firstFour[1] %>"><img src="<%= firstFour[2] %>"><img src="<%= firstFour[3] %>"></div></a><% if(myProfile){%> <img class="prof-chart-del" src="http://localhost:8888/topsters3 - copy/assets/topsters-exit.svg"> <%} %></div>
        <%
        })
    } else{
        %>
        <div class="no-charts-wrap">
            <p class="no-charts-txt">There are no charts currently associated with this account.</p>
            <% if(myProfile){ %>
            <a href="/dashboard" class="profile-btn">Make One</a>
            <% } %>
        </div>
        <%
    }

        // profCharts = document.querySelectorAll('.prof-chart')
        // chartListeners(profCharts)
}

displayProfileCharts(myProf, profileInfo.username, profileInfo.musicCharts);
// chartListeners();

%>
